/*COLORS***************************************************************************************/
$mainColor : #9CCC36;
$activeNavColor : #759E1E;
$panelBgColor : #F7F7F7;

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f1f1f1 inset !important;
}

body{
	background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/hixs_pattern_evolution.png);
    background-attachment: fixed;
}

/*PLACEHOLDERS**********************************************************************************/

::-webkit-input-placeholder {
	font-size: 12px; 
	line-height: 32px; 
}

::-moz-placeholder {
	font-size: 12px; 
	line-height: 32px; 
	}

:-ms-input-placeholder {
	font-size: 12px; 
	line-height: 32px; 
	}

input:-moz-placeholder {
	font-size: 12px; 
	line-height: 32px; 
}



/*EXTENDS -- CLASS*/
.gradient{
	background: #fce625;
	background: -moz-linear-gradient(top, #fce625 0%, #f1da36 46%, #efd423 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fce625), color-stop(46%,#f1da36), color-stop(100%,#efd423)); 
	background: -webkit-linear-gradient(top, #fce625 0%,#f1da36 46%,#efd423 100%);
	background: -o-linear-gradient(top, #fce625 0%,#f1da36 46%,#efd423 100%);
	background: -ms-linear-gradient(top, #fce625 0%,#f1da36 46%,#efd423 100%); 
	background: linear-gradient(to bottom, #fce625 0%,#f1da36 46%,#efd423 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce625', endColorstr='#efd423',GradientType=0 ); 
}


/*NAVIGATION************************************************************************************/
.navF{
	background: $mainColor;
	min-height : 30px;
	&__li{
		&__glyphicon{
    		padding: 0px 5px 0px 0px;
    		font-size: 17px;
    		top: 4px;
		}	
		&__badge{
			font-size: 10pt;
    		padding: 3px 6px;
    		margin: 3px;
    		font-weight: bold;
    		border-radius: 2px;
			&--standard{    
				background-color: rgba(0, 0, 0, 0.52) !important;
    			color: white;
    		}
			&--level{
				color: #FFFFFF;
			    padding: 3px 9px 7px 9px;
			    border-bottom: 3px solid #C3AB0F;
			    background-color: #EFD527;
			    border-radius: 0px 0px 2px 2px;
			}
			&--plantator{
			    color: #FFFFFF;
			    padding: 3px 9px 7px 9px;
			    border-bottom: 3px solid #63831F;
			    background-color: #83B714;
			    border-radius: 0px 0px 2px 2px;
			}
			&--smuggler{
			   	color: #FFFFFF;
			    padding: 3px 9px 7px 9px;
			    border-bottom: 3px solid #526D1A;
			    background-color: #75A215;
			    border-radius: 0px 0px 2px 2px;
			}
			&--dealer{
		        color: #FFFFFF;
			    padding: 3px 9px 7px 9px;
			    border-bottom: 3px solid #47630E;
			    background-color: #628813;
			    border-radius: 0px 0px 2px 2px;
			}
		}

		a{
			background-color: #AADC40;
    		border-bottom: 1px solid #B6E84A;
    		margin: 13px 10px;
    		padding: 11px 15px;
    		border-radius: 2px;
    		color: #3A4E0F;
    		border-left: 0px solid #B6E84A;
    		font-weight: bold;
    		text-decoration: none;
    		text-shadow: none !important;
    		transition: all 0.2s, all 0.2s ease-out;
			&:hover{
				background-color: #82AB2A;
    			border-bottom: 10px solid #B6E84A;
    			color: #E3FDAD;
			}
		}
		&--active{
			a{
				@extend .gradient;
				color: #655A02;
   				border-bottom: 10px solid #C3AB0F;	
    			transition: all 0.2s, all 0.2s ease-out;
				&:hover{
					border-bottom: 10px solid #8C7B09;
    				color: #92800A;
    				background-color: red !important;
				}
			}
		}	
	}
	&__description{
		background-color: #272727;
    	padding: 4px 16px;
    	color: #AADC40;
    	font-weight: 500;
    	margin: 0px 4px;
		}
	&__navbar{
		padding-right: 1em;
		background: #516b1a; /* Old browsers */
		background: -moz-linear-gradient(top, #516b1a 0%, #64841f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#516b1a), color-stop(100%,#64841f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #516b1a 0%,#64841f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #516b1a 0%,#64841f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #516b1a 0%,#64841f 100%); /* IE10+ */
		background: linear-gradient(to bottom, #516b1a 0%,#64841f 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516b1a', endColorstr='#64841f',GradientType=0 ); /* IE6-9 */
	    padding: 0px;
	    margin: 0px auto;
	    text-align: center;
	    &__name{
		    background-color: $mainColor;
    		border-bottom: 3px solid #5F7D1E;
    		padding: 4px 17px 7px 20px;
    		text-align: center;
    		border-radius: 0px 0px 2px 2px;
    		color: white;
	    }
	}
}


/*PANEL STATS********************************************************************************************/
.panelF{
	background: rgba(255,255,255,0.08);
    margin: 50px 0px;
    box-shadow: 0px 0px 97px #151515;
    padding: 20px 30px 10px;
    border-radius: 5px;
    &__text{
    	background-color: $mainColor;
		text-shadow: 1px 1px 1px #51691F;
		color: white;
		height: 30px;
		line-height: 30px;
		font-size: 15px;
		border-radius: 2px 2px 0px 0px;
		margin-bottom: 0px;
    }
    &__progress{
 		height: 35px;
 		border-radius: 0px !important;
    	.progress-bar-health{
		    background: #55711B;
    	}
    	.progress-bar-energy{
    		background-color: #C52727 !important;
    	}
    	.progress-bar-experience{
    		background: #EFD527;
    	}
    	.progress-bar-wanted{
    		background: #3C3C3C;
    	}
    	&__timer{
    		.progress-bar{
    			background: #333;
    		}
    	}
    }
}


/*RANKING************************************************************************************/
.rankingNavF{
	height: 40px;
    background-color: #313131;
    &__table{
    	background-color: #F7F7F7;
    	&__thead{
    		background-color: #272727;
    		border-bottom: 5px solid $mainColor;
    	}
    	&__tr{
    		height: 55px;
    	}
    	&__th{
    		padding: 0;
			height: 55px;
			color: white;
			text-align: center;
			line-height: 55px;
    	}
    	&__td{
    		padding: 0px;
		    line-height: 50px;
		    text-align: center;
		    font-weight: bold;
		    color: #5F5F5F;
		    font-size: 13px;
    	}
    	&__tfoot{
			background-color: $mainColor;
    		border-top: 5px solid #83AB2E;
		}
    }
}

/*RAPORTS, MESSAGES************************************************************************************/
.raportsTableF, .messagesTableF{
	background-color: #F7F7F7;
	&__thead{
		background-color: #272727;
		border-bottom: 5px solid $mainColor;
		&__th{
			text-align: center;
		    color: #F7F7F7;
		    height: 55px;
		    line-height: 55px !important;
		    padding: 0px !important;
		}
		&__tr{
			height: 55px;
		}
	}
	&__tbody{
		&__td{
			padding: 0px;
		    line-height: 50px;
		    text-align: center;
		    font-weight: bold;
		    color: #5F5F5F;
		    font-size: 13px;
		}
	}
	&__tfoot{
		background-color: $mainColor;
    	border-top: 5px solid #83AB2E;
	}
}


.messagesViewsF, .messagesCreateF{
	background-color: $panelBgColor;
}
.messagesCreateF{

padding: 40px 5%;

}

/*NAV PANEL**********************************************************************************/

.navPanelF{
    background-color: #191919;
    height: 33px;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
	&__item{
		a{
		    background-color: #191919;
		    line-height: 33px;
		    display: block;
		    padding: 0px 15px;
		    color: #9CCC36;
    		&:hover,
    		&:focus,
    		&:active{
    			background-color: #9CCC36;
    			text-decoration: none;
    			color: white;
    		}

		}
	}
}


/*LOGIN PANEL********************************************************************************/

.loginPanelLoginRegisterF{
	background: #9CCC36;
    border-bottom: 3px solid #80A72D;
    color: #F7F7F7;
    height: 50px;
    line-height: 49px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.loginPanelF{
	background: $panelBgColor;
	padding: 5%;
	border-bottom: 10px solid #9CCC36;
}

/*SETTINGS********************************************************************************/

.settingsPanelF{
	background: $panelBgColor;
	margin: 0px !important;
	&__ul{
		background-color: #232323;
		border-bottom: 10px solid #9CCC36;
	}
	&__top{
		background-color: #9CCC36;
    	text-align: center;
    	height: 50px;
    	line-height: 50px;
    	color: #F7F7F7;
    	font-size: 16px;
    	font-weight: bold;
	}
	&__item{
		margin:0px;
		a{
	    	color: white;
    		line-height: 45px;
    		height: 45px;
    		text-align: center;
    		border-radius: 0px !important;
    		margin: 0px;
    		&:hover{
    			background: #F7F7F7 !important;
    			text-decoration: none;
    			color: #404040;
    		}
		}
		&:nth-child(odd){
    		a{
    		  	 background-color: #272727;

    		 } 
    	}
	}

	&__content{
		padding: 20px;
	}
}

/*INFO PANEL********************************************************************************/

.infoPanelF{
	background: white;
    text-align: center;
    border-radius: 2px;
    padding: 0px;
    &__text{
    	padding: 30px 45px;
    }

    &__caption{
		background-color: #2F2F2F;
	    color: white;
	    line-height: 45px;
	    font-weight: bold;
    }
}


/*WORLD PANEL********************************************************************************/

.worldPanelF{
	
	&__badge{
		padding: 7px 13px;
    	margin: 0px 10px;
    	border-radius: 2px;
    	background-color: rgba(0, 0, 0, 0.04);
	}

	&__item{
		height: 52px;
    	border-radius: 0px;
    	font-size: 15px;
    	font-weight: bold;
    	text-shadow: none;
	}

	&__active{
		background-color: #9CCC36;
    	color: white;
    	text-shadow: none;
    	&:hover{
    		background-color: #8CB731;
    	}
	}

	&__default{
		background: white;
		color: #505050;
		text-shadow: none;
		&:hover{
			color: #FFFFFF;
    		background-color: #404040;
		}
	}

	&__disabled{
		background-color: #F9F9F9 !important;
    	text-shadow: none;
    	color: white !important;
    	cursor: not-allowed !important;
	}

	&__selectWorld{
		background-color: #5A761C;
	    color: white;
	    font-weight: bold;
	    text-align: center;
	    line-height: 35px;
	    border-radius: 5px 5px 0px 0px;
	}
}

/*FOOTERFBOX********************************************************************************/

.footerFBox{
	background: rgb(35, 35, 35);
	margin-top: 50px;
	&__info{
    	padding: 30px;
    	color: #B9EC4D;
	}
	&__ul{
		height: auto;
    	list-style-type: none;
    	margin-top: 19px;
		&__item{	 
    		text-align: center;
			a{
				width: 100%;
  				padding: 7px;
    			display: block;
    			color: #D4D4D4;
    			&:hover{
    				background: $mainColor;
				    text-decoration: none;
				    color: white;
				    font-weight: bold;
    			}
			}
			&:nth-child(odd){background: rgba(0, 0, 0, 0.07);}
			&:nth-child(even){background: rgba(255, 255, 255, 0.03);}
			&--stats{
				background-color: #101010 !important;
			    height: 40px;
			    line-height: 40px;
			    color: #ACD652;
			    font-weight: bold;
			    font-size: 16px;
			    margin-bottom: 10px;
			    border-radius: 4px;
			}
			&--panel{
				background: $mainColor !important;
    			border-radius: 3px 3px 0 0;
    			color: white;
			}
		}
	}
}

/*FOOTER************************************************************************************/

.footerF{
	background: $mainColor;
	height: 40px;
	&__time{
		height: 40px;
		line-height: 40px;
		padding: 0 20px;
		background: #75A215;
		color: white;
		font-weight: bold;
	}
}