/*COLORS***************************************************************************************/

$mainColor : #9CCC36;
$activeNavColor : #759E1E;


body{
	background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/hixs_pattern_evolution.png);
    background-attachment: fixed;
    box-shadow: 0px 0px 250px #0C0C0C inset;
}

/*EXTENDS -- CLASS*/
.gradient{
	background: #fce625; /* Old browsers */
	background: -moz-linear-gradient(top, #fce625 0%, #f1da36 46%, #efd423 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fce625), color-stop(46%,#f1da36), color-stop(100%,#efd423)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fce625 0%,#f1da36 46%,#efd423 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fce625 0%,#f1da36 46%,#efd423 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fce625 0%,#f1da36 46%,#efd423 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fce625 0%,#f1da36 46%,#efd423 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce625', endColorstr='#efd423',GradientType=0 ); /* IE6-9 */
}

/*NAVIGATION************************************************************************************/

.navF{
	background: $mainColor;
	min-height : 30px;
	&__li{
		&__glyphicon{
    		padding: 0px 5px 0px 0px;
    		font-size: 17px;
    		top: 4px;
		}	
		&__badge{
			font-size: 10pt;
    		padding: 3px 6px;
    		margin: 3px;
    		font-weight: bold;
    		border-radius: 2px;
			&--standard{    
				background-color: rgba(0, 0, 0, 0.52) !important;
    			color: white;
    		}
			&--level{
				color: #FFFFFF;
			    padding: 3px 9px 7px 9px;
			    border-bottom: 3px solid #C3AB0F;
			    background-color: #EFD527;
			    border-radius: 0px 0px 2px 2px;
			}
			&--plantator{
			    color: #FFFFFF;
			    padding: 3px 9px 7px 9px;
			    border-bottom: 3px solid #63831F;
			    background-color: #83B714;
			    border-radius: 0px 0px 2px 2px;
			}
			&--smuggler{
			   	color: #FFFFFF;
			    padding: 3px 9px 7px 9px;
			    border-bottom: 3px solid #526D1A;
			    background-color: #75A215;
			    border-radius: 0px 0px 2px 2px;
			}
			&--dealer{
		        color: #FFFFFF;
			    padding: 3px 9px 7px 9px;
			    border-bottom: 3px solid #47630E;
			    background-color: #628813;
			    border-radius: 0px 0px 2px 2px;
			}
		}

		a{
			background-color: #AADC40;
    		border-bottom: 1px solid #B6E84A;
    		margin: 13px 10px;
    		padding: 11px 15px;
    		border-radius: 2px;
    		color: #3A4E0F;
    		border-left: 0px solid #B6E84A;
    		font-weight: bold;
    		text-decoration: none;
    		text-shadow: none !important;
    		transition: all 0.2s, all 0.2s ease-out;
			&:hover{
				background-color: #82AB2A;
    			border-bottom: 10px solid #B6E84A;
    			color: #E3FDAD;
			}
		}
		&--active{
			a{
				@extend .gradient;
				color: #655A02;
   				border-bottom: 10px solid #C3AB0F;	
    			transition: all 0.2s, all 0.2s ease-out;
				&:hover{
					border-bottom: 10px solid #8C7B09;
    				color: #92800A;
    				background-color: red !important;
				}
			}
		}	
	}

	&__description{
		background-color: #272727;
    	padding: 4px 16px;
    	color: #AADC40;
    	font-weight: 500;
    	margin: 0px 4px;
		}

	&__navbar{
		padding-right: 1em;
		background: #516b1a; /* Old browsers */
		background: -moz-linear-gradient(top, #516b1a 0%, #64841f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#516b1a), color-stop(100%,#64841f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #516b1a 0%,#64841f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #516b1a 0%,#64841f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #516b1a 0%,#64841f 100%); /* IE10+ */
		background: linear-gradient(to bottom, #516b1a 0%,#64841f 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516b1a', endColorstr='#64841f',GradientType=0 ); /* IE6-9 */
	    padding: 0px;
	    margin: 0px auto;
	    text-align: center;
	    &__name{
		    background-color: #9CCC36;
    		border-bottom: 3px solid #5F7D1E;
    		padding: 4px 17px 7px 20px;
    		text-align: center;
    		border-radius: 0px 0px 2px 2px;
    		color: white;
	    }
	}
}


/*PANEL STATS********************************************************************************************/
.panelF{
	background: rgba(255,255,255,0.08);
    margin: 50px 0px;
    box-shadow: 0px 0px 97px #151515;
    padding: 20px 30px 10px;
    border-radius: 5px;
    &__text{
    	background-color: #9CCC36;
		text-shadow: 1px 1px 1px #51691F;
		color: white;
		height: 30px;
		line-height: 30px;
		font-size: 15px;
		border-radius: 2px 2px 0px 0px;
		margin-bottom: 0px;
    }
    &__progress{
 		height: 35px;
 		border-radius: 0px !important;
    	.progress-bar-health{
		    background: #55711B;
    	}
    	.progress-bar-energy{
    		background-color: #C52727 !important;
    	}
    	.progress-bar-experience{
    		background: #EFD527;
    	}
    	.progress-bar-wanted{
    		background: #3C3C3C;
    	}
    	&__timer{
    		.progress-bar{
    			background: #333;
    		}
    	}
    }
}