@import '../bower_vendor/bootstrap/less/variables.less';


@health-color: @brand-danger;
@energy-color: @brand-success;
@experience-color: @brand-info;
@wanted-color: @brand-warning;
@plantator-color: @brand-success;
@smuggler-color: @brand-primary;
@dealer-color: @brand-danger;





@import 'spacelab.less';


@chat-min-height: (@line-height-computed * 25);
@chat-max-height: (@line-height-computed * 100);


@chat-message-bg: @body-bg;
@chat-message-odd-bg: darken(@chat-message-bg, 10%);
@chat-message-even-bg: lighten(@chat-message-bg, 10%);

@chat-bubble-odd-bg: @chat-message-even-bg;
@chat-bubble-even-bg: @chat-message-odd-bg;
@chat-bubble-odd-border: darken(@chat-bubble-odd-bg, 5%);
@chat-bubble-even-border: darken(@chat-bubble-even-bg, 5%);